<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

  <!-- Main Footer -->
  <footer class="main-footer" th:fragment="copy">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      后端版本：<span id="back-end-version" th:text="${version}">0.0.0</span>，前端版本：<span id="front-end-version">0.0.0</span><br>
    </div>
    <!-- Default to the left -->
    Copyright &copy; 2019 ~ <span th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy')}"></span> <a href="#">苏州点迈</a> All Rights Reserved.
  </footer>

</body>
</html>
