<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
</head>
<section class="content-header">
	<h1>项目状态查询</h1>
</section>
<section class="content container-fluid">
	<div class="nav-tabs-custom" th:attr="data-default-active=${type}">
		<ul id="dm-std-tab" class="nav nav-tabs">
			<li th:class="active"><a href="#tab-list" data-toggle="tab" aria-expanded="true">项目状态查询</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-list"></div>

			<div id="toolbar">
				<div class="btn-group btn-group-sm">
					<input id="gfather-search" class="form-control" placeholder="输入父级编号查询"/>
				</div>
			</div>

			<div class="table-responsive">
				<table id="dm-std-data-table" class="table table-bordered table-hover" style="min-width: 500px;"></table>
			</div>
		</div>
	</div>

</section>
<script th:inline="javascript">
	/*<![CDATA[*/
	/*]]>*/
</script>
<script th:src="@{${hotUrl} + '/static/js/trc/prj/prj-attach.min.js?rnd=' + ${rnd}}" type="text/javascript"></script>