<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
</head>
<section class="content-header">
	<h1>项目管理</h1>
</section>
<section class="content container-fluid">
	<div class="nav-tabs-custom">
		<ul id="dm-std-tab" class="nav nav-tabs">
			<li><a href="#tab-list" data-toggle="tab" aria-expanded="false">项目列表</a></li>
			<li><a href="#tab-previous" data-toggle="tab" aria-expanded="true">项目管理</a></li>
			<li class="active"><a href="#tab-edit" data-toggle="tab" aria-expanded="true" th:text="@{'项目详细'}"></a></li>
		</ul>
		<div class="tab-content detail-container">
			<section class="invoice">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="page-header">
							项目详细<small class="pull-right"> </small>
						</h2>
					</div>
				</div>
				<div class="invoice-info">
					<table class="table table-bordered">
						<tr>
							<td width=100>项目编号</td>
							<td width=200 id="code" th:text="${record} ? ${record.code} : ''"></td>
							<td width=100>项目名称</td>
							<td width=200 id="name" th:text="${record} ? ${record.name} : ''"></td>
						</tr>
						<tr>
							<td width=100>计划开始日期</td>
							<td width=200 th:text="${record} ? ${#dates.format(record.estimateStartTime,'yyyy-MM-dd')} : ''"></td>
							<td width=100>创建人</td>
							<td width=200 id="createdUserName" th:text="${record} ? ${record.createdUserName} : ''"></td>
						</tr>
						<tr>
							<td width=100>计划结束日期</td>
							<td width=200 th:text="${record} ? ${#dates.format(record.estimateEndTime,'yyyy-MM-dd')} : ''"></td>
							<td width=100>修改人</td>
							<td width=200 id="updatedUserName" th:text="${record} ? ${record.updatedUserName} : ''"></td>
						</tr>
						<tr>
							<td width=100>备注</td>
							<td width=200 id="memo" th:text="${record} ? ${record.memo} : ''"></td>
							<td width=100>目标</td>
							<td width=200 id="target" th:text="${record} ? ${record.target} : ''"></td>
						</tr>
					</table>
				</div>
				<div class="box-body">
					<!-- form start -->
					<form id="dm-std-form" th:attr="data-id=${record} ? ${record.id} : '0'"></form>
				</div>
				<div class="row">
					<div class="box-body">
						<div id="toolbar">
							<a id="dm-add-product-row-btn" class="btn btn-default hidden"><i class="glyphicon glyphicon-plus"></i> 增加产品</a> <a id="dm-add-material-row-btn"
								class="btn btn-default hidden"><i class="glyphicon glyphicon-plus"></i> 增加物料</a>
						</div>
						<table id="dm-std-data-table" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th data-field="index">序号</th>
									<th data-field="id">序号</th>
									<th data-field="category"></th>
									<th data-field="productCode">编号</th>
									<th data-field="productName">名称</th>
									<th data-field="demandQuantity">需求数量</th>
									<th data-field="memo">备注</th>
									<th data-field="operate" th:if="${record != null && record.status eq 'DRAFT'}">操作</th>
									<th data-field="operateOutgoing" th:if="${record != null && record.status eq 'DRAFT'}">操作</th>
									<th data-field="operateWork" th:if="${record != null && record.status eq 'DRAFT'}">操作</th>
								</tr>
							</thead>

							<th:block th:if="${record != null && record.items != null}">
								<tbody>
									<th:block th:each="item : ${record.items}">
										<tr>
											<td th:text="${itemStat.index}"></td>
											<td th:text="${item.id}"></td>
											<td th:text="${item.category}"></td>
											<td th:text="${item.productCode}"></td>
											<td th:text="${item.productName}"></td>
											<td th:text="${item.demandQuantity}"></td>
											<td th:text="${item.memo}"></td>
											<td th:if="${record != null && record.status eq 'DRAFT'}"></td>
											<td th:if="${record != null && record.status eq 'DRAFT'}"></td>
											<td th:if="${record != null && record.status eq 'DRAFT'}"></td>
										</tr>
									</th:block>
								</tbody>
							</th:block>

						</table>

					</div>

					<div class="box-footer">
						<div class="row">
							<div class="col-sm-offset-10 col-sm-1">
								<button id="dm-done-form-btn" class="btn btn-primary btn-block">
									<i class="fa fa-save"></i> 完成本项目
								</button>
							</div>
							<div class="col-sm-offset-0 col-sm-1">
								<button id="dm-save-form-btn" class="btn btn-primary btn-block">
									<i class="fa fa-save"></i> 保存
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<div id="dm-std-product-modal-table" class="modal fade" tabindex="-1" role="dialog" data-index="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h5 class="modal-title">产品选择框</h5>
			</div>
			<div class="modal-body">
				<table id="dm-std-modal-product-table" data-toggle="table">

				</table>
			</div>
			<!--
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
			 -->
		</div>
	</div>
</div>
<div id="dm-std-material-modal-table" class="modal fade" tabindex="-1" role="dialog" data-index="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h5 class="modal-title">物料选择框</h5>
			</div>
			<div class="modal-body">
				<table id="dm-std-modal-material-table" data-toggle="table">

				</table>
			</div>
			<!--
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
			 -->
		</div>
	</div>
</div>
<div id="dm-std-stock-modal-table" class="modal fade" tabindex="-1" role="dialog" data-index="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h5 class="modal-title">库存选择框</h5>
			</div>
			<div class="modal-body">
				<table id="dm-std-modal-stock-table" data-toggle="table">

				</table>
			</div>
		</div>
	</div>
</div>
<div id="dm-std-work-modal-table" class="modal fade" tabindex="-1" role="dialog" data-index="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h5 class="modal-title">生产工单框</h5>
			</div>
			<div class="modal-body">
				<form id="dm-std-work-form">
					<input id="productCode" type="hidden" name="productCode" readonly /> <input id="createSubWorkorder" type="hidden" name="createSubWorkorder"
						value="true" checked="checked" />
					<div class="row">
						<div class="form-group">
							<label for="estimateQuantity" class="control-label col-sm-2">计划产量</label>
							<div class="row col-sm-4">
								<input id="estimateQuantity" type="text" class="form-control" name="estimateQuantity" readonly />
							</div>
						</div>
					</div>
					<!-- 					<div class="row"> -->
					<!-- 						<div class="form-group"> -->
					<!-- 							<label for="createSubWorkorder" class="control-label col-sm-2">批量工单</label> -->
					<!-- 							<div class="row col-sm-offset-2"> -->
					<!-- 								<input id="createSubWorkorder" type="radio" class="control-label minimal" name="createSubWorkorder" value="true" checked="checked" /><label -->
					<!-- 									for="createSubWorkorder" class="control-label">批量创建生产工单</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="row col-sm-offset-2"> -->
					<!-- 								<input id="createSubWorkorderOne" type="radio" class="control-label minimal" name="createSubWorkorderOne" value="true" /><label -->
					<!-- 									for="createSubWorkorderOne" class="control-label">只创建工序工单</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="row col-sm-offset-2"> -->
					<!-- 								<input id="createSubWorkorderNone" type="radio" class="control-label minimal" name="createSubWorkorderNone" value="true" /><label -->
					<!-- 									for="createSubWorkorderNone" class="control-label">不建立子工单</label> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<div class="row">
						<div class="form-group">
							<label for="subQuantity" class="control-label col-sm-2">工单数量</label>
							<div class="row col-sm-4">
								<input id="subQuantity" type="text" class="form-control" name="subQuantity" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="estimateStartTime" class="control-label col-sm-2">开始日期</label>
							<div class="row col-sm-4">
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" id="estimateStartTime" name="estimateStartTime" class="form-control" autocomplete="off" readonly />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="estimateEndTime" class="control-label col-sm-2">结束日期</label>
							<div class="row col-sm-4">
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" id="estimateEndTime" name="estimateEndTime" class="form-control" autocomplete="off" />
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label for="splitMode" class="control-label col-sm-2">工单生成</label>
							<div class="row col-sm-offset-2">
								<input id="splitModeAvg" type="radio" class="control-label minimal" name="splitMode" value="AVG" checked="checked" /><label
									for="splitModeAvg" class="control-label">1）工单产量完全平均分</label>
							</div>
							<div class="row col-sm-offset-2">
								<input id="splitModeTail" type="radio" class="control-label minimal" name="splitMode" value="TAIL" /><label for="splitModeTail"
									class="control-label">2）工单产量不能整除，余数存尾单</label>
							</div>
							<div class="row col-sm-offset-2">
								<input id="splitModeIncrease" type="radio" class="control-label minimal" name="splitMode" value="INCREASE" /><label for="splitModeIncrease"
									class="control-label">3）工单产量不能整除，自增1个余数尾单</label>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="dm-save-work-btn">开始生产</button>
			</div>
		</div>
	</div>
</div>
<div id="dm-std-show-modal-table" class="modal fade" tabindex="-1" role="dialog" data-index="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body"></div>
		</div>
	</div>
</div>
<script th:inline="javascript">
	/*<![CDATA[*/
	var record = /*[[${record}]]*/null;
	var prjProductDetailState = /*[[${prjProductDetailState}]]*/null;
	/*]]>*/
</script>
<script th:src="@{${hotUrl} + '/static/js/trc/prj/prj-detail.min.js?rnd=' + ${rnd}}" type="text/javascript"></script>