<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<section class="content-header">
	<h1>项目管理</h1>
</section>
<section class="content">
	<div class="nav-tabs-custom">
		<ul id="dm-std-tab" class="nav nav-tabs">
			<li><a href="#tab-list" data-toggle="tab" aria-expanded="false">项目列表</a></li>
			<li class="active"><a href="#tab-edit" data-toggle="tab" aria-expanded="true" th:text="@{${title} + '项目'}"></a></li>
		</ul>
		<div class="tab-content">
			<div class="box-body">
				<!-- form start -->
				<form id="dm-std-form" th:attr="data-id=${record} ? ${record.id} : '0'">
					<div class="row">
						<div class="form-group">
							<label for="code" class="control-label col-sm-2">项目编号</label>
							<div class="col-sm-4">
								<input id="code" type="text" class="form-control"  name="code" th:value="${record} ? ${record.code} : ''" autocomplete="off"/>
							</div>
						</div>
						<div class="form-group">
							<label for="name" class="control-label col-sm-2">项目名称</label>
							<div class="col-sm-4">
								<input id="name" type="text" class="form-control" name="name" th:value="${record} ? ${record.name} : ''" autocomplete="off"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="estimateStartTime" class="control-label col-sm-2">开始日期</label>
							<div class="col-sm-4">
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input id="estimateStartTime" type="text" class="form-control" name="estimateStartTime"
										th:value="${record} ? ${record.estimateStartTime} : ''" autocomplete="off"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="estimateEndTime" class="control-label col-sm-2">结束日期</label>
							<div class="col-sm-4">
								<div class="input-group date">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input id="estimateEndTime" type="text" class="form-control" name="estimateEndTime" th:value="${record} ? ${record.estimateEndTime} : ''" autocomplete="off"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="target" class="control-label col-sm-2">项目目标</label>
							<div class="col-sm-10">
								<textarea rows="3" class="form-control" id="target" name="target" th:text="${record} ? ${record.target} : ''" autocomplete="off"></textarea>
							</div>
						</div>
					</div>
                    <th:block th:replace="~{trc/form_udf::udf}"></th:block>
					<div class="row">
						<div class="form-group">
							<label for="memo" class="control-label col-sm-2">项目备注</label>
							<div class="col-sm-10">
								<textarea rows="3" class="form-control" id="memo" name="memo" th:text="${record} ? ${record.memo} : ''" autocomplete="off"></textarea>
							</div>
						</div>
					</div>
					<div class="row" th:if="${record}">
						<div class="form-group">
							<label for="createdUserName" class="control-label col-sm-2">创建人</label>
							<div class="col-sm-4">
								<input id="createdUserName" type="text" class="form-control" disabled="disabled" th:value="${record.createdUserName}" />
							</div>
						</div>
						<div class="form-group" th:if="${record.updatedUserName}">
							<label for=updatedUserName class="control-label col-sm-2">修改人</label>
							<div class="col-sm-4">
								<input id="updatedUserName" type="text" class="form-control" disabled="disabled" th:value="${record.updatedUserName}" />
							</div>
						</div>
					</div>
					<div class="row" th:if="${record}">
						<div class="form-group">
							<label for="createdTime" class="control-label col-sm-2">创建时间</label>
							<div class="col-sm-4">
								<input id="createdTime" type="text" class="form-control" disabled="disabled" th:value="${#dates.format(record.createdTime,'yyyy-MM-dd')}" />
							</div>
						</div>
						<div class="form-group" th:if="${record.updatedTime}">
							<label for="updatedTime" class="control-label col-sm-2">修改时间</label>
							<div class="col-sm-4">
								<input id="updatedTime" type="text" class="form-control" disabled="disabled" th:value="${#dates.format(record.updatedTime,'yyyy-MM-dd')}" />
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-2">
						<button id="dm-save-form-btn" class="btn btn-primary">
							<i class="fa fa-save"></i> 保存
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script th:src="@{${hotUrl} + '/static/js/trc/prj/prj-edit.min.js?rnd=' + ${rnd}}" type="text/javascript"></script>