<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Content Header (Page header) -->
<link rel="stylesheet"
	th:href="@{${staticUrl} + '/static/plugin/ksh/css/swiper.min.css'}">
<!-- Theme style -->
<link rel="stylesheet"
	th:href="@{${staticUrl} + '/static/plugin/ksh/css/visual.css'}">
<!-- Theme style -->
<style>
body {
	line-height: 1;
}

.welcome .alert-warning {
	color: #333 !important;
}

.welcome .alert h4 {
	color: #373737 !important;
	font-weight: 100;
}

.welcome .alert-warning {
	background-color: #f8f8f8 !important;
}

.welcome .alert-warning p {
	font-size: 90%;
}
</style>
<section class="content-header">
	<h1>系统概况</h1>
</section>
<!-- Main content -->
<section class="content welcome">
	<th:block th:if="${noticeToper != null}">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="alert alert-warning alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<h4 th:utext="${noticeToper} ?  ${noticeToper.title} : ''">最新公告</h4>
					<div th:utext="${noticeToper} ?  ${noticeToper.content} : ''"></div>
				</div>
			</div>
		</div>
	</th:block>


	<div class="row">
		<!-- 设备状态row -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${deviceNormalCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">正常设备数量</span> <span class="info-box-number"
						th:text="${deviceNormalCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${deviceFaultCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">故障设备数量</span> <span class="info-box-number"
						th:text="${deviceFaultCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${deviceMaintainCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">保养设备数量</span> <span class="info-box-number"
						th:text="${deviceMaintainCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${deviceScrapCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">报废设备数量</span> <span class="info-box-number"
						th:text="${deviceScrapCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${deviceSoldCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">变卖设备数量</span> <span class="info-box-number"
						th:text="${deviceSoldCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${deviceIdleCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">闲置设备数量</span> <span class="info-box-number"
						th:text="${deviceIdleCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${deviceAcceptCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">待验收设备数量</span> <span class="info-box-number"
						th:text="${deviceAcceptCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<!-- /设备状态row -->

		<!-- 报修row -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${FaultDashboardCancelledToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已撤销报修单</span> <span class="info-box-number"
						th:text="${FaultDashboardCancelledToday}"></span> <span
						class="info-box-text" th:text="${'周：' + FaultDashboardCancelledWeek}"></span>
					<span class="info-box-text"
						th:text="${'月：' + FaultDashboardCancelledMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${FaultDashboardTodoToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">待分派报修单</span> <span class="info-box-number"
						th:text="${FaultDashboardTodoToday}"></span> <span class="info-box-text"
						th:text="${'周：' + FaultDashboardTodoWeek}"></span> <span
						class="info-box-text" th:text="${'月：' + FaultDashboardTodoMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${FaultDashboardAssignedToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已分配报修单</span> <span class="info-box-number"
						th:text="${FaultDashboardAssignedToday}"></span> <span
						class="info-box-text" th:text="${'周：' + FaultDashboardAssignedWeek}"></span>
					<span class="info-box-text" th:text="${'月：' + FaultDashboardAssignedMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${FaultDashboardDoingToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">维修中报修单</span> <span class="info-box-number"
						th:text="${FaultDashboardDoingToday}"></span> <span class="info-box-text"
						th:text="${'周：' + FaultDashboardDoingWeek}"></span> <span
						class="info-box-text" th:text="${'月：' + FaultDashboardDoingMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${FaultDashboardDoneToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已解决报修单</span> <span class="info-box-number"
						th:text="${FaultDashboardDoneToday}"></span> <span class="info-box-text"
						th:text="${'周：' + FaultDashboardDoneWeek}"></span> <span
						class="info-box-text" th:text="${'月：' + FaultDashboardDoneMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${FaultDashboardApprovedToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i
					class="ion ion-ios-gear-outline"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已验收报修单</span> <span class="info-box-number"
						th:text="${FaultDashboardApprovedToday}"></span> <span
						class="info-box-text" th:text="${'周：' + FaultDashboardApprovedWeek}"></span>
					<span class="info-box-text" th:text="${'月：' + FaultDashboardApprovedMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<!-- /报修row -->

		<!-- 报废row -->
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${scrapUnreviewedCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-recycle"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">审核中报废单</span> <span class="info-box-number"
						th:text="${scrapUnreviewedCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${scrapNoCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-recycle"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">未通过报废单</span> <span class="info-box-number"
						th:text="${scrapNoCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${scrapYesCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-recycle"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已通过报废单</span> <span class="info-box-number"
						th:text="${scrapYesCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<!-- /报废row -->

		<!-- 变卖row -->
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${soldUnreviewedCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-shopping-cart"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">审核中变卖单</span> <span class="info-box-number"
						th:text="${soldUnreviewedCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${soldNoCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-shopping-cart"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">未通过变卖单</span> <span class="info-box-number"
						th:text="${soldNoCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12" th:if="${soldYesCount != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-shopping-cart"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已通过变卖单</span> <span class="info-box-number"
						th:text="${soldYesCount}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<!-- /变卖row -->

		<!-- 委外row -->
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${RepairDashboardUnreviewedToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">审核中委外单</span> <span class="info-box-number"
						th:text="${RepairDashboardUnreviewedToday}"></span> <span
						class="info-box-text" th:text="${'周：' + RepairDashboardUnreviewedWeek}"></span>
					<span class="info-box-text"
						th:text="${'月：' + RepairDashboardUnreviewedMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${RepairDashboardNoToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">已验收委外单</span> <span class="info-box-number"
						th:text="${RepairDashboardNoToday}"></span> <span class="info-box-text"
						th:text="${'周：' + RepairDashboardNoWeek}"></span> <span
						class="info-box-text" th:text="${'月：' + RepairDashboardNoMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
		<div class="col-md-3 col-sm-6 col-xs-12"
			th:if="${RepairDashboardYesToday != null}">
			<div class="info-box">
				<span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>
				<div class="info-box-content">
					<span class="info-box-text">通过审核未验收委外单</span> <span class="info-box-number"
						th:text="${RepairDashboardYesToday}"></span> <span class="info-box-text"
						th:text="${'周：' + RepairDashboardYesWeek}"></span> <span
						class="info-box-text" th:text="${'月：' + RepairDashboardYesMonth}"></span>
				</div>
			</div>
		</div>
		<!-- /.col -->
	</div>
	<!-- /委外row -->

	<!-- Main row -->
	<div class="row">
		<!-- Left col -->
		<div class="col-md-8 connectedSortable">

			<div class="box box-primary " th:if="${seriesDeviceLatest}">
				<div class="box-header with-border">
					<h3 class="box-title">故障设备</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<ul class="products-list product-list-in-box"
						th:if="${seriesDeviceLatest != null}">
						<li class="item" th:each="item : ${seriesDeviceLatest}">
							<div class="product-img">
								<img
									th:src="@{${staticUrl} + '/static/plugin/adminlte/dist/img/default-50x50.gif'}"
									alt="Product Image">
							</div>
							<div class="product-info">
								<a href="javascript:void(0)" class="product-title"
									th:text="${item.name}"> </a> <span
									class="label label-warning pull-right" th:text="${item.amount}">$1800</span>
								<span class="product-description" th:text="${item.sn}"></span> <span
									class="product-description" th:text="${item.managerName}"></span>
							</div>
						</li>
						<!-- /.item -->
					</ul>
				</div>
				<!-- /.box-body -->
				<div class="box-footer text-center">
					<a href="javascript:void(0)">浏览所有</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->

			<!-- TABLE: Reporting Fault -->
			<div class="box box-info" th:if="${faultLatest}">
				<div class="box-header with-border">
					<h3 class="box-title">最新报修单</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>编号</th>
									<th>时间</th>
									<th>设备</th>
									<th>故障说明</th>
									<th>状态</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="itm : ${faultLatest}">
									<tr th:attr="data-index=${itmStat.index},data-count=${itmStat.count}">
										<td><a><i class="fa fa-circle-o"></i> <span
												th:text="${itm.sn}"></span></a></td>
										<td th:text="${#dates.format(itm.time, 'HH:mm:ss')}"></td>
										<td th:text="${itm.deviceName}"></td>
										<td th:text="${itm.content}"></td>
										<td th:attr="data-state=${itm.state}"><span
											class="label label-success" th:text="${itm.stateName}"></span></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<a class="btn btn-sm btn-info btn-flat pull-left link-to-dm"
						data-url="reportingFaults/edit">新建报修单</a> <a
						class="btn btn-sm btn-default btn-flat pull-right link-to-dm"
						data-url="reportingFaults/list">查看所有</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->


			<!-- TABLE: Reporting Fault -->
			<div class="box box-info" th:if="${stkPickingLatest}">
				<div class="box-header with-border">
					<h3 class="box-title">最新领料单</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>编号</th>
									<th>时间</th>
									<th>领料人</th>
									<th>说明</th>
									<th>状态</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="itm : ${stkPickingLatest}">
									<tr th:attr="data-index=${itmStat.index},data-count=${itmStat.count}">
										<td><a><i class="fa fa-circle-o"></i> <span
												th:text="${itm.sn}"></span></a></td>
										<td th:text="${#dates.format(itm.createtime, 'HH:mm:ss')}"></td>
										<td th:text="${itm.creatorName}"></td>
										<td th:text="${itm.remark}"></td>
										<td><span class="label label-success" th:text="${itm.typeName}"></span></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<a class="btn btn-sm btn-info btn-flat pull-left link-to-dm"
						data-url="stkPicking/edit">新建领料单</a> <a
						class="btn btn-sm btn-default btn-flat pull-right link-to-dm"
						data-url="stkPicking/list">查看所有</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->

			<!-- TABLE: Reporting Fault -->
			<div class="box box-info" th:if="${repairLatest}">
				<div class="box-header with-border">
					<h3 class="box-title">最新委外单</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>编号</th>
									<th>时间</th>
									<th>申请人</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="itm : ${repairLatest}">
									<tr th:attr="data-index=${itmStat.index},data-count=${itmStat.count}">
										<td><a><i class="fa fa-circle-o"></i> <span
												th:text="${itm.sn}"></span></a></td>
										<td th:text="${#dates.format(itm.createtime, 'HH:mm:ss')}"></td>
										<td th:text="${itm.creatorName}"></td>
										<!--  
										<td><span class="label label-success"
											th:text="${itm.typeName}"></span></td>-->
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<a class="btn btn-sm btn-info btn-flat pull-left link-to-dm"
						data-url="commissionRepair/edit">新建委外单</a> <a
						class="btn btn-sm btn-default btn-flat pull-right link-to-dm"
						data-url="commissionRepair/list">查看所有</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->


			<div class="box box-info" th:if="${patrolTaskLatest}">
				<div class="box-header with-border">
					<h3 class="box-title">最新巡检任务单</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>编号</th>
									<th>计划名称</th>
									<th>计划开始时间</th>
									<th>计划结束时间</th>
									<!-- 
                                    <th>状态</th> -->
								</tr>
							</thead>
							<tbody>
								<th:block th:each="itm : ${patrolTaskLatest}">
									<tr th:attr="data-index=${itmStat.index},data-count=${itmStat.count}">
										<td><a><i class="fa fa-circle-o"></i> <span
												th:text="${itm.sn}"></span></a></td>
										<td th:text="${itm.planName}"></td>
										<td th:text="${#dates.format(itm.startTime, 'HH:mm:ss')}"></td>
										<td th:text="${#dates.format(itm.endTime, 'HH:mm:ss')}"></td>
										<!-- 
                                        <td th:attr="data-state=${itm.state}"><span
                                            class="label label-success" th:text="${itm.stateName}"></span></td> -->
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<a class="btn btn-sm btn-info btn-flat pull-left link-to-dm"
						data-url="commissionRepair/edit">新建报修单</a> <a
						class="btn btn-sm btn-default btn-flat pull-right link-to-dm"
						data-url="patrolTask/list">查看所有</a>
				</div>
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->

			<div class="row">
				<div class="col-md-6" th:if="${userLatest}">
					<!-- USERS LIST -->
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">最新用户</h3>

							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool" data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<ul class="users-list clearfix">
								<th:block th:each="itm : ${userLatest}">
									<li th:attr="data-index=${itmStat.index},data-count=${itmStat.count}"><img
										th:src="${itm.userimg}" alt="User Image"> <a
										class="users-list-name" th:href="@{'#notice/edit?id=' + ${itm.id}}"
										th:text="${itm.nickname}"></a> <span class="users-list-date"
										th:text="${#dates.format(itm.createTime, 'yyyy-MM-dd')}"></span></li>
								</th:block>
							</ul>
							<!-- /.users-list -->
						</div>
						<!-- /.box-body -->
						<div class="box-footer text-center">
							<a href="#user/list">浏览所有</a>
						</div>
						<!-- /.box-footer -->
					</div>
					<!--/.box -->
				</div>
				<!--/.col-md-6 -->
				<div class="col-md-6" th:if="${noticeLatest}">

					<!-- TABLE: Notice -->
					<div class="box box-danger">
						<div class="box-header">
							<h3 class="box-title">最新公告</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool" data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="table-responsive">
								<table class="table no-margin">
									<tbody>
										<th:block th:each="itm : ${noticeLatest}">
											<tr th:attr="data-index=${itmStat.index},data-count=${itmStat.count}">
												<td><i class="fa fa-volume-up"></i> <a
													th:href="@{'#notice/edit?id=' + ${itm.id}}"><span
														th:text="${itm.title}"></span></a></td>
												<td><span class="pull-right"
													th:text="${#dates.format(itm.updatetime, 'yyyy-MM-dd')}"></span></td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.box-body -->
						<div class="box-footer text-center">
							<a href="#notice/list">浏览所有</a>
						</div>
						<!-- /.box-footer -->
					</div>
					<!-- /.box -->
				</div>
				<!--/.col-md-6 -->
			</div>
			<!-- /.row -->


		</div>
		<!-- /.col -->

		<!-- connectedSortable 拖拽组件 放在div头 -->
		<div class="col-md-4 connectedSortable">
			<!-- Info Boxes Style 2 -->
			<div class="info-box bg-yellow"
				th:if="${deviceAllCount} and ${deviceMonthRate}">
				<span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">设备总数</span> <span class="info-box-number"
						th:text="${deviceAllCount}"></span>

					<div class="progress">
						<div class="progress-bar" th:style="'width:'+ ${deviceMonthRate}+'%'"></div>
					</div>
					<span class="progress-description" th:text="'30天增长'+${deviceMonthRate}+'%'"></span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
			<div class="info-box bg-green" th:if="${faultAllCount} and ${faultMonthRate}">
				<span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">报修单</span> <span class="info-box-number"
						th:text="${faultAllCount}"></span>
					<div class="progress">
						<div class="progress-bar" th:style="'width:'+ ${faultMonthRate}+'%'"></div>
					</div>
					<span class="progress-description" th:text="'30天增长'+${faultMonthRate}+'%'"></span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->
			<div class="info-box bg-red" th:if="${stkPickingMonthCount}">
				<span class="info-box-icon"><i
					class="ion ion-ios-cloud-download-outline"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">领料单</span> <span class="info-box-number"
						th:text="${stkPickingMonthCount}"></span>

					<div class="progress">
						<div class="progress-bar" style="width: 70%"></div>
					</div>
					<span class="progress-description"> 30天增长70%</span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->

			<div class="info-box bg-aqua" th:if="${scrapAllCount} and ${scrapMonthRate}">
				<span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

				<div class="info-box-content">
					<span class="info-box-text">报废单总数</span> <span class="info-box-number"
						th:text="${scrapAllCount}"></span>

					<div class="progress">
						<div class="progress-bar" th:style="'width:'+ ${scrapMonthRate}+'%'"></div>
					</div>
					<span class="progress-description" th:text="'30天增长'+${scrapMonthRate}+'%'"></span>
				</div>
				<!-- /.info-box-content -->
			</div>
			<!-- /.info-box -->



			<div class="box box-default" id="dm-chart-fault-state"
				th:if="${seriesFaultState}">
				<div class="box-header with-border">
					<h3 class="box-title">报修单状态占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body 
	            <div class="box-footer no-padding">
	                <ul class="nav nav-pills nav-stacked">
	                    <li>
	                       <a href="#">United States of America 
	                           <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
	                       </a>
	                    </li>
	                    <li><a href="#">India <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a></li>
	                    <li><a href="#">China <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>
	                </ul>
	            </div>
	            <!-- /.footer -->
			</div>
			<!-- /.box -->


			<div class="box box-default" id="dm-chart-fault-type"
				th:if="${seriesFaultType}">
				<div class="box-header with-border">
					<h3 class="box-title">故障原因占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<div class="box box-default" id="dm-chart-device-cate"
				th:if="${seriesDeviceCate}">
				<div class="box-header with-border">
					<h3 class="box-title">设备类别占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<div class="box box-default" id="dm-chart-device-state"
				th:if="${seriesDeviceState}">
				<div class="box-header with-border">
					<h3 class="box-title">设备状态占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<div class="box box-default" id="dm-chart-device-sum"
				th:if="${seriesDeviceSum}">
				<div class="box-header with-border">
					<h3 class="box-title">设备金额占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<div class="box box-default" id="dm-chart-patrolTask-state"
				th:if="${seriesPatrolTaskState}">
				<div class="box-header with-border">
					<h3 class="box-title">巡检任务状态占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<div class="box box-default" id="dm-chart-scrap-state"
				th:if="${seriesScrapState}">
				<div class="box-header with-border">
					<h3 class="box-title">本月报废申请状态占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<div class="box box-default" id="dm-chart-sold-approvalstate"
				th:if="${seriesSoldApprovalstate}">
				<div class="box-header with-border">
					<h3 class="box-title">本月变卖申请状态占比</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="chart-content col-md-12" style="height: 300px"></div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

		</div>
		<!-- /.col -->

	</div>
	<!-- /.row -->
</section>
<div class="modal fade" id="modal-default">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" th:utext="${sysNotice} ?  ${sysNotice.title} : ''">最新公告</h4>
			</div>
			<div class="modal-body">
				<div th:utext="${sysNotice} ?  ${sysNotice.content} : ''"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right"
					data-dismiss="modal">我知道了</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /.content -->
<script th:inline="javascript">
	/*<![CDATA[*/
	var seriesFaultState = /*[[${seriesFaultState}]]*/null;
	var seriesFaultType = /*[[${seriesFaultType}]]*/null;
	var seriesDeviceState = /*[[${seriesDeviceState}]]*/null;
	var seriesDeviceCate = /*[[${seriesDeviceCate}]]*/null;
	var seriesPatrolTaskState = /*[[${seriesPatrolTaskState}]]*/null;
	var seriesDeviceSum = /*[[${seriesDeviceSum}]]*/null;
	var seriesScrapState = /*[[${seriesScrapState}]]*/null;
	var seriesSoldApprovalstate = /*[[${seriesSoldApprovalstate}]]*/null;
	var seriesDeviceLatest = /*[[${seriesDeviceLatest}]]*/null;
	var repairTodayCount = /*[[${repairTodayCount}]]*/null;
	var seriesSysNoticeLatest = /*[[${seriesSysNoticeLatest}]]*/null;
	var enterpriseEx = /*[[${enterpriseEx}]]*/null;
	var faultDoingCount = /*[[${faultDoingCount}]]*/null;
	var sysNotice = /*[[${sysNotice}]]*/null;
	/*]]>*/
</script>
<script type="text/javascript">
	$(function() {
		var a = $('.visualSssf_left a')
		for (var i = 0; i < a.length; i++) {
			a[i].index = i;
			a[i].onclick = function() {
				for (var i = 0; i < a.length; i++) {
					a[i].className = ''
				}
				this.className = 'active'
			}
		}

		var sfzcllH = $('.sfzcll_box').height()
		var sfzcllHtwo = sfzcllH - 2
		$('.sfzcll_box').css('line-height', sfzcllH + 'px')
		$('.sfzcll_smallBk>div').css('line-height', sfzcllHtwo + 'px')

		//删除加载动画
		$('#load').fadeOut(1000)
		setTimeout(function() {
			$('#load').remove()
		}, 1100);
	})
</script>
<!-- 
<script th:src="@{${staticUrl} + '/static/plugin/adminlte/bower_components/jquery-ui/jquery-ui.min.js'}"></script>
jQuery UI -->
<script
	th:src="@{${staticUrl} + '/static/plugin/ksh/js/jquery.leoweather.min.js'}"></script>
<script th:src="@{${staticUrl} + '/static/plugin/ksh/js/swiper.min.js'}"></script>
<script th:src="@{${hotUrl} + '/static/js/edm/welcome.min.js?v=' + ${rnd}}"></script>